<p id="notice"><%= notice %></p>

<%= week_calendar events: @calendar_contracts do |day, contracts| %>
  <div><strong><%= day.to_s(:long) %></strong></div>
  <% contracts.each do |contract| %>
    <div>
      <%= link_to contract.service.title, contract_path(contract.id)%>
    </div>
  <% end %>
<% end %>
